li{
    list-style: none;
}
body{
   
    background-image:url(../../images/main_bg.jpg);
}
.nav-link{
    text-decoration: none;
    color:#fff;
}
header{
    color:#fff;
   
}
.container{
    background-color: #fff;
    margin: 50px;
}